<% include ../partials/header %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <%= user.firstName%> <%= user.lastName %>
    <%= user.dob %>
    
    <h1>Your Favorites</h1>
    <ul>
    <% if (faves !== undefined) { %>
     <% faves.forEach((fave) => { %>
       <li><a href=<%= `/movies/${fave.id}`%> ><%= fave.title %></a></li>
      <% }); %>
    <% } %>
    </ul>

<% include ../partials/footer %>