<% include ../partials/header.ejs %>
  <div class='container'>
    <h1>About <%= movie.title %></h1>
    <p>Title: <%= movie.title %></p>
    <p>Synopsis: <%= movie.synopsis %></p>
    <form action="<%= `/movies/${movie.id}?_method=DELETE` %>" method="POST">
      <a class='btn red darken-4' href="<%= '/movies/' + movie.id + '/edit' %>">Edit</a>
      <input class='btn red darken-4' type="submit" value="Delete" />
      <a class='btn red darken-4' href="/movies">Back to movies</a>
    </form>
  </div>

<% include ../partials/footer.ejs %>
